<html>
  <head>
    <style>
      body {
      <%= css %>
    }
    </style>

    <body>

      <p>
        The SECRET NUMBER is between 0 and 100
      </p>

        <form>
          <input type='text' name='guess' />
          <input type='submit' value='Guess!' />
        </form>

      <p>
        Your guess of <%= guess %> is <%= msg %>
      </p>

    </body>

  </head>
</html>
